@{ 
    ViewBag.Title = "Listagem de Produtos";
}
<h2>@ViewBag.Title</h2>

<div class="mb-3">
    <a class="btn btn-outline-info" href="@Url.Action("AddEdit")">Novo Produto</a>
</div>

<table class="table table-striped table-hover table-responsive-sm p-3">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Preço</th>
            <th>Tipo</th>
            <th>Qtde</th>
            <th>Data do Cadastro</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (FN.Store.UI.Models.Produto produto in Model)
        {
        <tr id="produto-@produto.Id">
            <td>@produto.Nome</td>
            <td>@produto.Preco</td>
            <td>@produto.TipoDeProduto.Nome</td>
            <td>@produto.Qtde</td>
            <td>@produto.DataCadastro</td>
            <td class="btn-group">
                <a class="btn btn-sm btn-outline-success" href="@Url.Action("AddEdit",new { id=produto.Id})"><i class="fas fa-edit"></i> Editar</a>
                <button class="btn btn-sm btn-outline-danger" onclick="DelProd(@produto.Id, '@produto.Nome')"><i class="fas fa-trash"></i> Excluir</button>
            </td>
        </tr>
        }


    </tbody>
</table>

<div data-id="0" class="modal" id="delModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Tem certeza que  excluir o Produto <strong><span id="nomeProdutoModal"></span></strong>?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                <button onclick="ConfirmDelProd()" type="button" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<script>

    function DelProd(id, nome) {
        //let resp = confirm(`Deseja excluir o produto '${nome}'?`)
        //if (resp) {
        //    //console.log(`Excluir produto de id ${id}...`)
        //    ConfirmDelProd(id)
        //}

        $('#nomeProdutoModal').text(nome)
        $('#delModal').data('id',id).modal('show')

    }


    function ConfirmDelProd() {
        let id = $('#delModal').data('id')
        //XMLHTTPREQUEST
        let xhr = new XMLHttpRequest()
        const url = `/Produtos/DelProd/${id}`

        xhr.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 404) {
                $('#delModal').data('id', '0').modal('hide')
                toastr.error('Produto não localizado!', 'FN Store')
            }

            if (this.readyState === 4 && this.status === 200) {
                //remover do html
                let tr = document.querySelector(`#produto-${id}`)
                if (tr !== null) {
                    tr.remove()
                }
                $('#delModal').data('id', '0').modal('hide')
                toastr.success('Produto excluído com sucesso!', 'FN Store')
            }
                
        }

        xhr.open('get', url)
        xhr.send()

    }
    

</script>
